@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Master";
}

<h1 class="display-4 text-danger">Razor Syntax</h1>

@section FooterContent{ 
    <p class="alert alert-danger">Noi dung footer cua Trang chu</p>
}
